@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base: #020617;
    --color-base-dark: #0a0a0f;
    --color-primary: #6366f1;
    --color-success: #10b981;
    --color-danger: #f43f5e;
    --color-warning: #fbbf24;
  }

  body {
    @apply bg-base-dark text-slate-100 font-sans antialiased;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
